<div class="container new-user__container">
  <h1 class="heading heading-1">Add New User</h1>
  <form [formGroup]="newUserForm" class="new-user__form" (ngSubmit)="onSubmit(newUserForm.value)">
    <div class="form__group">
      <label for="firstName" class="form__label">First Name</label>
      <input type="text" name="firstName" class="form__input" formControlName="firstName" />
    </div>
    <div class="form__group">
      <label for="middleInitial" class="form__label">Middle Initial</label>
      <input type="text" name="middleInitial" class="form__input" formControlName="middleInitial" />
    </div>
    <div class="form__group">
      <label for="lastName" class="form__label">Last Name</label>
      <input type="text" name="lastName" class="form__input" formControlName="lastName" />
    </div>
    <div class="form__group">
      <label for="nickname" class="form__label">Nickname</label>
      <input type="text" name="nickname" class="form__input" formControlName="nickname" />
    </div>
    <div class="form__group">
      <label for="email" class="form__label">Email</label>
      <input type="text" name="email" class="form__input" formControlName="email" />
    </div>
    <div class="form__group">
      <label for="hometownCity" class="form__label">Hometown City</label>
      <input type="text" name="hometownCity" class="form__input" formControlName="hometownCity" />
    </div>
    <div class="form__group">
      <label for="hometownState" class="form__label">Hometown State</label>
      <select name="hometownState" class="form__input" formControlName="hometownState">
        <option *ngFor="let stateAbbrev of objectKeys(states)">
          {{ stateAbbrev }}
        </option>
      </select>
    </div>
    <div class="form__group">
      <label for="school" class="form__label">School</label>
      <input type="text" name="school" class="form__input" formControlName="school" />
    </div>
    <div class="form__group">
      <label for="rank" class="form__label">Rank</label>
      <select name="rank" class="form__input" formControlName="rank">
        <option></option>
        <option *ngFor="let rank of objectKeys(ranks)">
          {{ rank }}
        </option>
      </select>
    </div>
    <div class="form__group">
      <label for="section" class="form__label">Section</label>
      <input type="text" name="section" class="form__input" formControlName="section" />
    </div>
    <div class="form__group">
      <label for="pin" class="form__label">Pin</label>
      <input type="text" name="pin" class="form__input" formControlName="pin" />
    </div>
    <button type="submit" class="btn btn-light" [disabled]="!(newUserForm.valid && newUserForm.dirty)">
      Add New User
    </button>
  </form>
</div>
