<div class="container view-profile__container" *ngIf="pilot$ | async as pilot">
  <div class="view-profile__navigation">
    <div (click)="backToPilots()" class="view-profile__navigation--back">
      <i class="material-icons">arrow_back</i> Back to pilots
    </div>
  </div>
  <div class="heading heading-1 text--dark view-profile__title">
    <div
      class="profile-pic profile-pic__view-profile"
      [ngStyle]="{ 'background-image': 'url(' + getPilotProfilePic(pilot) + ')' }"
    ></div>
    <div
      *ngIf="currentProfilePic$ | async"
      class="profile-pic profile-pic--current profile-pic__view-profile"
      [ngStyle]="{ 'background-image': 'url(' + (currentProfilePic$ | async) + ')' }"
    ></div>
    <div class="view-profile__title--text">
      {{ pilot.firstName }} {{ pilot.middleInitial }}
      {{ pilot.lastName }}
    </div>
  </div>
  <form [formGroup]="fullProfileForm" class="view-profile__form">
    <div class="view-profile__inputs">
      <div class="view-profile__section-subtitle">Contact</div>
      <div class="view-profile__section">
        <div class="view-profile__email" *ngIf="!pilot.emailPrivate">
          <div class="form__group">
            <label for="currentCity" class="form__label">Email</label>
            <input type="text" name="email" class="form__input" formControlName="email" />
          </div>
        </div>
        <div
          class="form__group-layout form__group-layout--phone"
          *ngIf="fullProfileForm.get('homePhone').value || fullProfileForm.get('cellPhone').value"
        >
          <div class="form__group">
            <label for="homePhone" class="form__label">Home Phone</label>
            <input
              [value]="fullProfileForm.get('homePhone').value ? (fullProfileForm.get('homePhone').value | phone) : ''"
              type="text"
              name="homePhone"
              class="form__input"
              formControlName="homePhone"
            />
          </div>
          <div class="form__group">
            <label for="cellPhone" class="form__label">Cell Phone</label>
            <input
              [value]="fullProfileForm.get('cellPhone').value ? (fullProfileForm.get('cellPhone').value | phone) : ''"
              type="text"
              name="cellPhone"
              class="form__input"
              formControlName="cellPhone"
            />
          </div>
        </div>
        <div class="form__group-layout" *ngIf="fullProfileForm.get('streetAddress').value">
          <div class="form__group">
            <label for="streetAddress" class="form__label">Street Address</label>
            <input type="text" name="streetAddress" class="form__input" formControlName="streetAddress" />
          </div>
        </div>
        <div class="form__group-layout" *ngIf="fullProfileForm.get('currentCity').value || fullProfileForm.get('currentState').value || fullProfileForm.get('currentZip').value">
          <div class="form__group">
            <label for="currentCity" class="form__label">Current City</label>
            <input type="text" name="currentCity" class="form__input" formControlName="currentCity" />
          </div>
          <div class="form__group form__group--state-with-city-and-zip">
            <label for="currentState" class="form__label">State</label>
            <input type="text" name="currentState" class="form__input" formControlName="currentState" />
          </div>
          <div class="form__group form__group--zip-with-state">
            <label for="currentZip" class="form__label">Zip Code</label>
            <input type="text" name="currentZip" class="form__input" formControlName="currentZip" />
          </div>
        </div>
      </div>
      <div class="view-profile__section-subtitle">Yearbook Info</div>
      <div class="view-profile__section">
        <div class="form__group-layout">
          <div class="form__group">
            <label for="rank" class="form__label">Rank</label>
            <input
              type="text"
              name="rank"
              class="form__input"
              [value]="afRanks[fullProfileForm.get('rank').value]"
              formControlName="rank"
            />
          </div>
        </div>
        <div class="form__group-layout">
          <div class="form__group">
            <label for="nickname" class="form__label">Nickname</label>
            <input type="text" name="nickname" class="form__input" formControlName="nickname" />
          </div>
        </div>
        <div class="form__group-layout">
          <div class="form__group">
            <label for="hometownCity" class="form__label">Hometown City</label>
            <input type="text" name="hometownCity" class="form__input" formControlName="hometownCity" />
          </div>
          <div class="form__group form__group--state-with-city">
            <label for="hometownState" class="form__label">State</label>
            <input type="text" name="hometownState" class="form__input" formControlName="hometownState" />
          </div>
        </div>
        <div class="form__group-layout">
          <div class="form__group">
            <label for="school" class="form__label">School</label>
            <input type="text" name="school" class="form__input" formControlName="school" />
          </div>
        </div>
      </div>
      <ng-container *ngIf="fullProfileForm.get('myLife').value">
        <div class="view-profile__section-subtitle">Tell Everyone Your Story</div>
        <div class="view-profile__section">
          <div class="form__group">
            <label for="myLife" class="form__label">Post Pilot Training Life</label>
            <textarea
              autosize
              type="text"
              name="myLife"
              class="form__input form__input--my-life"
              formControlName="myLife"
            ></textarea>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
