<div class="container view-reunion__container" *ngIf="reunion$ | async as reunion">
  <div class="view-reunion__navigation">
    <div (click)="backToReunions()" class="view-reunion__navigation--back">
      <i class="material-icons">arrow_back</i> Back to Reunions
    </div>
  </div>
  <h1 class="heading heading-1 text--dark view-reunion__title">
    {{ reunion.reunionYear }} Reunion @ {{ reunion.locationCity }},{{ reunion.locationState }}
  </h1>
  <h2 class="heading heading-2 text--dark">&nbsp;</h2>
  <div class="view-reunion__section">
    <h3 class="heading heading-3 text--dark">My Attendance</h3>
    <div class="card">
        <div class="view-reunion__attendance-status">
          Your current attendance response is:
          <span class="view-reunion__current-status"> {{ getCurrentUserStatus(currentUserReunionAttendance) }} </span>
        </div>
        <div class="view-reunion__my-attendance-actions">
          <button
            class="btn btn-dark view-reunion__my-attendance-action"
            (click)="updateUserAttendance(currentUserReunionAttendance, yesStatus)"
          >
            Yes
          </button>
          <button
            class="btn btn-dark view-reunion__my-attendance-action"
            (click)="updateUserAttendance(currentUserReunionAttendance, maybeStatus)"
          >
            Maybe
          </button>
          <button
            class="btn btn-dark view-reunion__my-attendance-action"
            (click)="updateUserAttendance(currentUserReunionAttendance, noStatus)"
          >
            No
          </button>
        </div>
        <div class="view-reunion__my-attendance-guest" *ngIf="currentUserReunionAttendance?.status === yesStatus">
          <p>I will have a guest</p>
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="currentUserReunionAttendance.isGuestAttending"
              name="isGuestAttending"
              (change)="
                updateGuestAttendance(currentUserReunionAttendance, currentUserReunionAttendance.isGuestAttending)
              "
            />
            <span class="slider round"></span>
          </label>
        </div>
    </div>
  </div>
  <div class="view-reunion__section" *ngIf="reunionEvents$ | async as reunionEvents">
    <h3 class="heading heading-3 text--dark">Event Schedule</h3>
    <div class="card view-reunion__events-card">
      <div class="view-reunion__events" *ngFor="let reunionEvent of reunionEvents">
        <div class="view-reunion__event-details">
          <div class="event-date">
            {{ reunionEvent.description }}
          </div>
          <div class="event-description event-rsvp">
            {{ getCurrentUserEventAttendanceStatus(reunionEvent) | titlecase }}
          </div>
          <div class="event-description">
            <i class="material-icons">
              event
            </i>
            {{ reunionEvent.eventDate.seconds * 1000 | date: 'EEEE, d MMM y' }}
          </div>
          <div class="event-description">
            <i class="material-icons">
              timer
            </i>
            {{
              checkIfMidnight(reunionEvent.eventDate) ? 'TBD' : (reunionEvent.eventDate.seconds * 1000 | date: 'HHmm')
            }}
          </div>
        </div>
        <div class="view-reunion__event-actions">
          <a [routerLink]="['./events', reunionEvent.id]" class="btn btn-dark view-reunion__btn-event"
            >Event Details <i _ngcontent-dah-c3="" class="material-icons">arrow_forward</i></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="view-reunion__section">
    <h3 class="heading heading-3 text--dark">Attendees</h3>
    <div class="card">
      <div class="view-reunion__attendance-title view-reunion__attendance-title--yes">
        <i class="material-icons">
          thumb_up
        </i>
        I'll Be There
      </div>
      <div class="view-reunion__attendee" *ngFor="let yesAttendee of yesAttendees">
        {{ yesAttendee.name }} {{ yesAttendee.isGuestAttending ? '+1 Guest' : '' }}
      </div>
      <div class="view-reunion__attendance--maybe">
        <div class="view-reunion__attendance-title  view-reunion__attendance-title--maybe">
          <i class="material-icons">
            thumbs_up_down
          </i>
          Hope To Attend, But I'm Not 100% Committed
        </div>
        <div class="view-reunion__attendee" *ngFor="let maybeAttendee of maybeAttendees">
          {{ maybeAttendee.name }}
        </div>
      </div>
      <div class="view-reunion__attendance--no">
        <div class="view-reunion__attendance-title  view-reunion__attendance-title--no">
          <i class="material-icons">
            thumb_down
          </i>
          Gotta Bail
        </div>
        <div class="view-reunion__attendee" *ngFor="let noAttendee of noAttendees">
          {{ noAttendee.name }}
        </div>
      </div>
    </div>
  </div>
</div>
