.register {
  display: grid;
  grid-template-columns: 30% 1fr 30%;

  &__form {
    grid-column: 2/2;

    display: flex;
    flex-direction: column;

    justify-content: center;
    &-inputs {
      margin-bottom: 4rem;
    }
  }

  &__action {
    &--facebook {
        background-color: #3578E5;
        color: white;
        margin: 1rem 0;
    }

  }
}
