<div class="container login">

    <form [formGroup]="loginForm" class="login__form">
        <div class="login__form-inputs">
            <a (click)="authService.doGoogleLogin()" class="btn login__action login__action--google">
                <div class="google-icon"></div>
                <div class="login__action-text">Register/Login with
                        Google</div>
                </a>
            <a (click)="authService.doFacebookLogin()" class="btn login__action login__action--facebook">
                <div class="facebook-icon"></div>
                <div class="login__action-text">Register/Login with Facebook</div>
            </a>
            <p>Or Login with Email</p>
            <input type="email" formControlName="email" class="input" placeholder="Email Address" required>
            <input type="password" class="input" formControlName="password" placeholder="Password" required>
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
        </div>
        <a type="submit" (click)="trylogin(loginForm.value)" class="btn login__action">Login with Email</a>

    </form>


</div>