.basic-profile {
  padding: 2rem 4rem;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-inputs {
      margin-bottom: 4rem;
    }
  }
}

.profile-pic__landing {
  margin-bottom: 2rem;
}

.form {
  &__group {
    &-title {
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
    }
    &-layout {
      display: flex;
      margin-bottom: 2rem;

      //   border: 1px solid white;
      //   padding: 1rem;
      //   border-radius: 8px;

      .form__group {
        width: 100%;
      }

      & > * {
        margin-right: 1rem;
      }
    }

    &--middle-initial {
      flex: 0 0 15%;
    }

    &--state {
      flex: 0 0 30%;
    }
  }
  &__label {
    &--with-action {
      color: white;
      display: flex;
      justify-content: space-between;
    }
  }
}

.label-action {
  display: flex;
  align-items: center;
  font-size: 1.1rem;

  &__input {
    margin-right: 0.5rem;
  }
}
