<div *ngIf="currentUser.pinVerified">
    <nav class="nav">
        <div class="nav__menu">
            <a [routerLink]="'/pilots'" class="nav__menu-link" *ngIf="!disableActions">View Pilots</a>
            <a class="nav__menu-link" *ngIf="!disableActions">Reunions</a>
        </div>
        <div class="nav__actions">
            <div class="nav__greeting">Hello, {{ currentUser.nickname }}</div>
            <div class="nav__view-profile" (click)="goToProfile()">
                <div class="profile-pic nav__view-profile-pic"
                    [ngStyle]="{'background-image': 'url(' + getProfilePic(currentUser) + ')'}">
                </div>
                <div class="nav__view-profile-text">View Profile</div>
            </div>
            <div class="nav__logout" (click)="onLogoutClicked()">
                <a href="#" class="btn btn-dark">Logout</a>
            </div>
        </div>
    </nav>
</div>