        <div class="container view-profile__container">
            <div class="heading heading-1 view-profile__title">
                <div class="profile-pic profile-pic__view-profile"
                    [ngStyle]="{'background-image': 'url(' + getProfilePic(pilot) + ')'}">
                </div>
                <div class="view-profile__title--text">
                    {{ pilot.firstName}} {{ pilot.middleInitial }}
                    {{ pilot.lastName }}
                </div>
            </div>
            <form [formGroup]="fullProfileForm" class="view-profile__form">
                <div class="view-profile__inputs">
                    <div class="view-profile__section-subtitle">Contact</div>
                    <div class="view-profile__section">
                       
                        <input type="email" formControlName="email" class="form__input form__input__read-only">
                        <div class="form__group-layout form__group-layout--phone">
                            <div class="form__group">
                                <label for="homePhone" class="form__label">Home Phone</label>
                                <input type="text" name="homePhone" class="form__input form__input__read-only" formControlName="homePhone">
                            </div>
                            <div class="form__group">
                                <label for="cellPhone" class="form__label">Cell Phone</label>
                                <input type="text" name="cellPhone" class="form__input form__input__read-only" formControlName="cellPhone">
                            </div>
                        </div>
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="streetAddress" class="form__label">Street Address</label>
                                <input type="text" name="streetAddress" class="form__input form__input__read-only" formControlName="streetAddress">
                            </div>
                        </div>
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="currentCity" class="form__label">Current City</label>
                                <input type="text" name="currentCity" class="form__input form__input__read-only" formControlName="currentCity">
                            </div>
                            <div class="form__group form__group--state-with-city-and-zip">
                                <label for="currentState" class="form__label">State</label>
                                <select name="currentState" class="form__input form__input__read-only" formControlName="currentState">
                                    <option [ngValue]="stateAbbrev" *ngFor="let stateAbbrev of objectKeys(states)">
                                        {{ stateAbbrev }}
                                    </option>
                                </select>
                            </div>
                            <div class="form__group form__group--zip-with-state">
                                <label for="currentZip" class="form__label">Zip Code</label>
                                <input type="text" name="currentZip" class="form__input form__input__read-only" formControlName="currentZip">
                            </div>
                        </div>
                    </div>
                    <div class="view-profile__section-subtitle">Yearbook Info</div>
                    <div class="view-profile__section">
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="rank" class="form__label">Rank</label>
                                <select name="rank" class="form__input form__input__read-only" formControlName="rank">
                                    <option [ngValue]="key" *ngFor="let key of objectKeys(afRanks)">{{ afRanks[key] }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="nickname" class="form__label">Nickname</label>
                                <input type="text" name="nickname" class="form__input form__input__read-only" formControlName="nickname">
                            </div>
                        </div>
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="hometownCity" class="form__label">Hometown City</label>
                                <input type="text" name="hometownCity" class="form__input form__input__read-only" formControlName="hometownCity">
                            </div>
                            <div class="form__group form__group--state-with-city">
                                <label for="hometownState" class="form__label">State</label>
                                <select name="hometownState" class="form__input form__input__read-only" formControlName="hometownState">
                                    <option [ngValue]="stateAbbrev" *ngFor="let stateAbbrev of objectKeys(states)">
                                        {{ stateAbbrev }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form__group-layout">
                            <div class="form__group">
                                <label for="school" class="form__label">School</label>
                                <input type="text" name="school" class="form__input form__input__read-only" formControlName="school">
                            </div>
                        </div>
                    </div>
                    <div class="view-profile__section-subtitle">Tell Everyone Your Story</div>
                    <div class="view-profile__section">
                        <div class="form__group">
                            <label for="myLife" class="form__label">Post Pilot Training Life</label>
                            <textarea type="text" name="myLife" class="form__input form__input__read-only form__input form__input__read-only--my-life"
                                formControlName="myLife"></textarea>
                        </div>
                    </div>

                </div>
            </form>