.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__background {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(gray, 0.8), rgba(darken(gray, 30%), 0.8)),
      url('../../../assets/img/t-38.jpg');
    background-size: cover;
  }

  &__title {
    color: white;
  }

  &__subtitle {
    font-size: 4rem;
    color: white;
  }

  &__actions {
    display: flex;
    justify-content: center;
  }

  &__action {
    flex: 1;
    margin: 4rem 1rem;
  }
}

.nav {
  // background: white;
  // border-bottom: 2px solid var(--color-accent);
  padding: 1rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;
    padding: 1rem;
  }

  &__view-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-pic {
      height: 5.5rem;
      width: 5.5rem;
      position: absolute;
      transition: 0.3s all;
      &:hover {
        transform: scale(0.7);
      }
      &:hover + div {
        opacity: 1;
        visibility: visible;
        transform: translateY(2.4rem);
      }
    }
    &-text {
      padding-top: .5rem;
      display: inline-block;
      opacity: 0;
      visibility: hidden;
      color: white;
      text-align: center;
      transition: 0.3s all;

    }
  }

  &__greeting {
    color: white;
    font-size: 1.6rem;
  }

  &__menu {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 4rem;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;

  &__left {
    text-align: center;
    padding: 5rem;
    flex: 1;
  }

  &__right {
    background-color: var(--color-primary-darkened);
    align-self: stretch;
    flex: 0 0 30%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app-login {
  flex: 1;
}
