<div class="landing landing__background">
   <app-nav-bar></app-nav-bar>
    <div class="home">
        <div class="home__left">
            <div class="heading heading-1 landing__title">UPT 72-09 Webb AFB</div>
            <div class="subtitle landing__subtitle">
                Join your classmates to receive updates on your fellow
                classmates and upcoming reunions.
            </div>
            <div class="landing__actions" *ngIf="!isUserLoggedIn">
                <a href="#" class="btn btn-dark landing__action" (click)="onRegisterClicked()">Register</a>
                <a href="#" class="btn btn-light landing__action" (click)="onLoginClicked()">Login</a>
            </div>
        </div>
        <div class="home__right" *ngIf="sidebarEnabled">
            <app-login class="app-login" *ngIf="loginEnabled && !isUserLoggedIn"></app-login>
            <app-register class="app-login" *ngIf="registerEnabled && !isUserLoggedIn"></app-register>
            <div *ngIf="(addlUserInfo$ | async) as addlUserInfo">
                <app-verify-pin class="app-login" [userInfo]="addlUserInfo[0].payload.doc.data()"
                    [userDocId]="addlUserInfo[0].payload.doc.id"
                    *ngIf="isUserLoggedIn && !addlUserInfo[0].payload.doc.data().pinVerified">
                </app-verify-pin>
                <app-basic-profile *ngIf="isUserLoggedIn && addlUserInfo[0].payload.doc.data().pinVerified"
                    [addlUserInfo]="addlUserInfo"></app-basic-profile>
            </div>

        </div>
    </div>
</div>