.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__background {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(gray, 0.8), rgba(darken(gray, 30%), 0.8)),
      url('../../../assets/img/t-38.jpg');
    background-size: cover;
  }

  &__class-patch {
    height: 275px;
  }

  @media (max-width: 800px) {
    &__class-patch {
      height: 150px;
    }
  }

  &__title {
    color: white;

    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  &__subtitle {
    font-size: 4rem;
    color: white;
  }

  &__actions {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  &__action {
    flex: 1;
    margin: 1rem 1rem;
  }
}

.home {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  flex: 1;

  &__left {
    text-align: center;
    padding: 5rem;
  }

  &__right {
    background-color: var(--color-primary-darkened);
    align-self: stretch;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.app-login {
  flex: 1;
}
