<div class="landing landing__background">
    <div class="home">
        <div class="home__left">
            <div class="landing__title">
              <img src="../../../assets/img/class_patch_landing.png" alt="class_patch" class="landing__class-patch">
              <h1 class="heading heading-1">UPT 72-09 Webb AFB</h1>
            </div>
            <div class="subtitle landing__subtitle">
                Join in order to receive updates on your fellow
                classmates and upcoming reunions.
            </div>
            <div class="landing__actions">
                <a [routerLink]="['/register']" class="btn btn-dark landing__action">Register</a>
                <a [routerLink]="['/login']"  class="btn btn-light landing__action">Login</a>
            </div>
        </div>
        <div class="home__right" *ngIf="sidebarEnabled">
            <router-outlet></router-outlet>
            <!-- <app-login class="app-login" *ngIf="loginEnabled && !isUserLoggedIn"></app-login>
            <app-register class="app-login" *ngIf="registerEnabled && !isUserLoggedIn"></app-register>
            <div *ngIf="(addlUserInfo$ | async) as addlUserInfo">
                <app-verify-pin class="app-login" [userInfo]="addlUserInfo[0].payload.doc.data()"
                    [userDocId]="addlUserInfo[0].payload.doc.id"
                    *ngIf="isUserLoggedIn && !addlUserInfo[0].payload.doc.data().pinVerified">
                </app-verify-pin>
            </div> -->

        </div>
    </div>
</div>
