<div class="container password-reset">
  <form [formGroup]="pwdResetConfirmForm" class="password-reset__form" (ngSubmit)="onSubmit()">
    <h2 class="heading heading-2 text--dark">Enter New Password</h2>
    <div class="subtitle--form">
      <p>
        Please enter your new password. It must be longer than 6 characters. Once confirmed, you must login with the new
        password.
      </p>
    </div>
    <div class="password-reset__form-inputs">
      <div class="form__group">
        <label for="pin" class="form__label">Password</label>
        <div class="form__input--with-icon">
          <input type="password" formControlName="password" name="password" class="form__input " required />
          <app-field-status [status]="pwdResetConfirmForm.controls.password"></app-field-status>
        </div>
      </div>
      <label class="form__error">{{ errorMessage }}</label>
      <label class="form__success">{{ successMessage }}</label>
      <button type="submit" class="btn btn-light" [disabled]="pwdResetConfirmForm.invalid">Reset Password</button>
    </div>
  </form>
</div>
