<div class="container reunion-list__container">
  <h1 class="heading heading-1 reunion-list__title">UPT 72-09 Reunions</h1>
  <div class="reunions" *ngIf="reunions$ | async as reunions">
    <div class="card reunion" *ngFor="let reunion of reunions" (click)="openReunion(reunion)">
      <div class="reunion__title">
        <h3 class="heading heading-3 text--light heading--with-underline ">{{ reunion.title }}</h3>
      </div>
      <div class="reunion__location">
        <div class="label reunion__label">Location</div>
        <div class="reunion__info">{{ getReunionLocation(reunion) }}</div>
      </div>
      <div class="reunion__date">
        <div class="label reunion__label">Dates</div>
        <div class="reunion__info">
          {{ getReunionDates(reunion) }}
        </div>
      </div>
    </div>
  </div>
</div>
