<div class="container reunion-list__container">
  <h1 class="heading heading-1 reunion-list__title">UPT 72-09 Reunions</h1>
  <div class="reunions" *ngIf="reunions$ | async as reunions">
    <div class="card reunion" *ngFor="let reunion of reunions" (click)="openReunion(reunion)">
      <div class="reunion__title">
        <h3 class="heading heading-3 text--light heading--with-underline ">{{ reunion.title }}</h3>
      </div>
      <div class="reunion__details">
        <div class="reunion__information">
          <div class="reunion__information-item">
            <div class="label reunion__label">Location</div>
            <div class="reunion__info">{{ getReunionLocation(reunion) }}</div>
          </div>
          <div class="reunion__information-item">
            <div class="label reunion__label">Dates</div>
            <div class="reunion__info">
              {{ getReunionDates(reunion) }}
            </div>
          </div>
        </div>
        <div class="reunion__link">
          <div class="btn btn-dark reunion__btn-event">
            Reunion Details/RSVP <i _ngcontent-dah-c3="" class="material-icons">arrow_forward</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
