<ng-container *ngIf="reunion$ | async as reunion">
  <ng-container *ngIf="event$ | async as event">
    <div class="container event__container">
      <div class="event__navigation">
        <div (click)="backToReunions()" class="event__navigation--back">
          <i class="material-icons">arrow_back</i> Back to Reunion
        </div>
      </div>
      <h1 class="heading heading-1 text--dark reunion__title">
        {{ reunion.reunionYear }} Reunion @ {{ reunion.locationCity }},{{ reunion.locationState }}
      </h1>
      <h2 class="heading heading-2 text--dark event__title">{{ event.description }}</h2>

      <div class="event__section section-with-two-cards">
        <div class="section--1">
          <h3 class="heading heading-3 text--dark">Event Details</h3>
          <div class="card event__events-card">
            <div class="event__detail">
              <i class="material-icons">
                event
              </i>
              {{ event.eventDate.seconds * 1000 | date: 'EEEE, d MMM y' }}
            </div>
            <div class="event__detail">
              <i class="material-icons">
                timer
              </i>
              {{ event.eventTime }}
            </div>
            <div class="event__detail">
              <i class="material-icons">
                my_location
              </i>
              {{ getEventLocation(event) }}
            </div>
          </div>
        </div>
        <div class="section--2">
          <h3 class="heading heading-3 text--dark">My Attendance</h3>
          <div class="card">
            <div class="event__my-attendance-response">
              Your current attendance response is:
              <span class="event__current-status"> {{ getCurrentUserStatus(currentUserAttendance) }} </span>
            </div>
            <div class="event__my-attendance-actions">
              <button
                class="btn btn-dark event__my-attendance-action"
                (click)="updateUserAttendance(currentUserAttendance, yesStatus)"
              >
                Yes
              </button>
              <button
                class="btn btn-dark event__my-attendance-action"
                (click)="updateUserAttendance(currentUserAttendance, noStatus)"
              >
                No
              </button>
            </div>
            <div class="event__my-attendance-guest" *ngIf="currentUserAttendance">
              <p>My guest will attend</p>
              <label class="switch">
                <input
                  type="checkbox"
                  [(ngModel)]="currentUserAttendance.isGuestAttending"
                  name="isGuestAttending"
                  (change)="updateGuestAttendance(currentUserAttendance, currentUserAttendance.isGuestAttending)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="event__section">
        <h3 class="heading heading-3 text--dark">Attendees</h3>
        <div class="card">
          <div class="event__attendance-title event__attendance-title--yes">
            <i class="material-icons">
              thumb_up
            </i>
            I'll Be There
          </div>
          <div class="event__attendee" *ngFor="let yesAttendee of yesAttendees">
            <p>{{ yesAttendee.name }} {{ yesAttendee.isGuestAttending ? '+1 Guest' : '' }}</p>
          </div>
          <div class="event__attendee" *ngFor="let noAttendeeButGuest of noAttendees">
            <p *ngIf="noAttendeeButGuest.isGuestAttending">{{ noAttendeeButGuest.name }}'s Guest</p>
          </div>
          <div class="event__attendance--no">
            <div class="event__attendance-title  event__attendance-title--no">
              <i class="material-icons">
                thumb_down
              </i>
              Gotta Bail
            </div>
            <div class="event__attendee" *ngFor="let noAttendee of noAttendees">
              {{ noAttendee.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
