.event {
  &__navigation {
    margin-bottom: 3rem;

    &--back {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: var(--color-accent);
      cursor: pointer;
    }
  }

  &__section {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__my-attendance-actions {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      margin-right: 2rem;
    }
  }

  &__attendance-title {
    text-transform: uppercase;
    padding: 1rem 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    .material-icons {
      margin-right: 2rem;
    }

    &--yes {
      background-image: linear-gradient(to right, rgba(49, 84, 121, 0.5), white);
    }
    &--maybe {
      background-image: linear-gradient(to right, rgba(145, 92, 54, 0.6), white);
    }
    &--no {
      background-image: linear-gradient(to right, rgba(187, 177, 24, 0.6), white);
    }
  }

  &__attendee {
    font-size: 1.8rem;
    padding: 1rem 0 1rem 4rem;
  }

  &__current-status {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__events-card {
    height: 100%;
    > .view-reunion__events:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  &__events {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-event {
    font-size: 1.4rem;
  }

  &__title {
    color: var(--color-accent);
  }

  &__detail {
    display: flex;
    align-items: center;

    .material-icons {
      margin-right: 2rem;
    }
  }
}

.reunion__title {
  font-weight: 300;
  margin-bottom: 1rem;
}

.section-with-two-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-gap: 4rem;
}

.section--1,
.section--2 {
  display: flex;
  flex-direction: column;
}
