.profile-list {
  &__title {
    color: white;
  }

  &__search {
    &::-webkit-input-placeholder {
      color: gray;
    }
  }
}

.profiles {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4rem;
}

.pilot {
  display: flex;
  flex-direction: column;

  transition: 0.2s transform;

  &:hover {
    transform: scale(1.02);
  }

  & > * {
    margin-bottom: 2rem;
  }

  &__info {
    font-size: 1.8rem;
  }
}

.main-info {
  display: flex;
  align-items: center;

  &__profile-pic {
    width: 100px;
    height: 100px;
  }

  &__name {
    padding-left: 2rem;
    &--full-name {
      font-family: 'Oswald', serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2.5rem;
      color: var(--color-primary-darkened);
      position: relative;
      margin-bottom: 10px;

      // &::after {
      //   position: absolute;
      //   content: '';
      //   height: 4px;
      //   bottom: -5px;
      //   left: 0;
      //   width: 100%;
      //   background: var(--color-accent);
      // }
    }
    &--nickname {
      font-family: 'Cardo', sans-serif;
      font-size: 1.8rem;
      color: var(--color-primary-darkened);
    }
  }
}
