<div class="container password-reset">

  <form [formGroup]="pwdResetForm" class="password-reset__form" (ngSubmit)="onSubmit()">
      <h2 class="heading heading-2 text--dark">Forgot password</h2>
      <div class="subtitle--form">
          <p>Please enter your registered email address to receive a link to reset your password.</p>
      </div>
      <div class="password-reset__form-inputs">
          <div class="form__group">
              <label for="pin" class="form__label">Email</label>
              <div class="form__input--with-icon">
                  <input type="text" formControlName="pin" name="pin" class="form__input " required>
                  <app-field-status [status]="pwdResetForm.controls.pin"></app-field-status>
              </div>
          </div>
          <label class="form__error">{{errorMessage}}</label>
          <label class="success">{{successMessage}}</label>
          <button type="submit" class="btn btn-light" [disabled]="pwdResetForm.invalid">Send Email</button>
      </div>

  </form>


</div>
