/* You can add global styles to this file, and also import other style files */

:root {
  --color-primary: #4d5f75;
  // --color-primary-darkened: #505b68;
  --color-primary-darkened: #4d5f75;
  --color-primary-lightened: #5e6a79;
  --color-gray-light-1: #f8f8f8;
  --color-gray-light-2: #e6e6e6;

  --color-accent: rgb(255, 255, 67);

  --color-gray-dark-1: #54483a;

  --font-primary: 'Cardo', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-gray-dark-1);
  font-weight: 300;
  line-height: 1.6;
  background-color: var(--color-gray-light-2);
  letter-spacing: 0.1rem;
}

.heading {
  font-family: 'Oswald', serif;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 6rem;
  margin-bottom: 4rem;
}

.heading-2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.heading-3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  &--form {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    p {
      margin-bottom: 1rem;
    }
  }
}

.text {
  &--dark {
    color: white;
  }
  &--light {
    color: var(--color-primary);
  }
  &--center {
    text-align: center;
  }
}

.form {
  &__error {
    color: darkorange;
    font-size: 1.6rem;
  }
  &__success {
    color: greenyellow;
    font-size: 1.6rem;
  }
}

///////////////////////
// COMPONENTS
//////////////////////

input {
  font-family: 'Cardo', sans-serif;
}

button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  max-width: 350px;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.btn {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  max-width: 350px;
  cursor: pointer;

  transition: all 0.2s;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 0.5rem rgba(75, 75, 75, 0.4);
  }

  &-dark {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
  }

  &-light {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
  }
}

a.btn {
  text-decoration: none;

  &-dark:link,
  &-dark:visited {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
  }

  &-light:link,
  &-light:visited {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    font-weight: 700;
    text-align: center;
  }
}

.modal {
  width: 75%;
  max-width: 130rem;
  min-height: 80vh;
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 10vh;
  left: 12.5%;
  box-shadow: 0 0.3rem 0.5rem rgba(#4b4b4b, 0.4);
  display: flex;
  align-items: stretch;
}

.card {
  background-color: white;
  box-shadow: 4px 2px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 2.5rem 4rem;
}

///////////////////////
// FORMS
//////////////////////

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 2rem;
    font-family: inherit;
    color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 2px;
    background-color: var(--color-primary);
    width: 100%;
    display: block;
    transition: all 0.3s;
    border: none;
    border-bottom: 2px solid white;

    &--with-icon {
      display: flex;
      align-items: center;

      input {
        flex: 1;
        margin-right: 2rem;
      }

      app-field-status {
        flex: 0 0 15%;
      }
    }

    &--small {
      font-size: 1.2rem;
    }

    // @include respond(tab-port) {
    //   width: 100%;
    // }

    &__read-only {
      background-color: var(--color-primary-lightened);
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid yellow;
      // box-shadow: 0 1rem 2rem rgba(black, 0.1);
      // border-bottom: 4px solid var(--color-primary);
    }

    &:disabled {
      border: none;
    }

    &:focus:invalid {
      border-bottom: 4px solid redorange;
    }

    &::-webkit-input-placeholder {
      color: var(--color-gray-dark-1);
    }
  }

  &__label {
    font-family: 'Oswald';
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    letter-spacing: 0.1rem;
  }
}

.label {
  font-family: 'Oswald';
  color: var(--color-primary-darkened);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  display: block;

  &-action {
    font-size: 1.6rem;
    &__input {
      height: 1.6rem;
      margin-right: 1rem;
    }
  }
}

.container {
  padding: 4rem;
  max-width: 120rem;
  margin: 0rem auto;
  background-color: var(--color-primary-darkened);
}

.profile-pic {
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
}
