<div class="container login">
    <form [formGroup]="loginForm" class="login__form" (ngSubmit)="onSubmit()">
        <h2 class="heading heading-2 text--dark">Login</h2>
        <div class="login__form-inputs">
            <div class="email-login">
                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input type="email" formControlName="email" class="form__input" required>
                </div>
                <div class="form__group">
                    <label for="password" class="form__label">Password</label>
                    <input type="password" class="form__input" formControlName="password" required>
                </div>
                <label class="form__error">{{errorMessage}}</label>
                <label class="form__success">{{successMessage}}</label>
                <button type="submit" class="btn btn-light email-login__action">Login</button>
                <a [routerLink]="['/forgot-password']" class="forgot-password">Forgot password?</a>
            </div>
        </div>
    </form>
</div>
